nav {
    height: 85px;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    height: 100%;
}

nav ul li {
    position: relative;
    list-style: none;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

nav ul li button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

nav ul li button:hover {
    color: rgba(255, 255, 255, 0.568);
    background: rgba(55, 249, 255, 0.35);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 212, 212, 0.4);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.login {
    margin-right: 17px;
    border: solid 2px white;
    border-radius: 5px;
}

.register {
    background: #2e86de;
    border: solid 2px #2e86de;
    border-radius: 5px;
}

.navbar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100vw;
    position: fixed;
    top: 0;
}

.logo {
    width: 100px;
}

.user {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.5px solid #ffffff;
    box-sizing: border-box;
    object-fit: cover;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    z-index: 2;
    display: block;
    width: 220px;
    right: -70px;
    top: 45px;
}

.dropdown ul {
    display: block;
    backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.76);
    border-radius: 10px;
    -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));
}

.dropdown ul {
    padding: 10px 0;
}

.dropdown ul::before {
    position: absolute;
    right: 10px;
    top: -8px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid rgba(255, 255, 255, 0.76);
}

.dropdown ul li {
    margin-left: 0;
}

.dropdown ul li {
    cursor: pointer;
    width: 100%;
    margin-left: 0;
    padding: 5px 1em;
    font-size: 24px;
    line-height: 33px;
    vertical-align: middle;
    justify-content: left;
    display: inline-flex;
    text-align: left;
    position: relative;
}

.dropdown ul li:hover {
    background-color: #a8a8a8;
    color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 99, 212, 0.4);
    background-color: #dae4f7;
}

.dropdown hr {
    border: 1px solid #a8a8a8;
    margin: 0;
}

.dropdown span {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
.dropdownIcon {
    height: 40px;
    width: 30px;
    margin-right: 18px;
    object-fit: contain;
}
