.modalForm {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 41px 31px;
    width: 412px;
    scrollbar-width: none;
    background: rgba(255, 255, 255, 0.89);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 80vh;
}

.modalForm h2 {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

.modalForm label {
    margin-left: 9px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.modalForm input {
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid rgba(210, 210, 210, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 35px;
}

.modalForm textarea {
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid rgba(210, 210, 210, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 35px;
    height: 169px;
    resize: none;
}

.modalForm button {
    background: #2e86de;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding: 10px;
    margin-bottom: 20px;
    color: #ffffff;
}

.modalForm p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #b1b1b1;
}

.modalForm p b:hover {
    color: #111;
}

@media only screen and (max-width: 768px) {
    .modalForm {
        width: 100vw !important;
        border-radius: 0;
        max-height: 100vh;
        height: 100vh;
        background-color: white;
        overflow-x: hidden;
    }
}
